<% if decomoji.errors.any? %>
  <div id="error_explanation">
    <h3>確認してください</h3>
    <ul>
    <% decomoji.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: decomoji do |f| %>
  <div style="margin-block: 1em">
    <div><%= f.label :name, '名前（必須）' %></div>
    <% decomoji.errors.full_messages_for(:name).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.text_field :name, required: 'required' %>
  </div>

  <div style="margin-block: 1em">
    <div><%= f.label :yomi, 'よみがな' %></div>
    <% decomoji.errors.full_messages_for(:yomi).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.text_field :yomi %>
  </div>

  <div style="margin-block: 1em">
    <div><%= f.label :image, 'デコモジ' %></div>
    <% decomoji.errors.full_messages_for(:image).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.file_field :image, accept: 'image/png' %>
  </div>

  <div style="margin-block: 1em">
    <div><%= f.label :version_id, 'バージョン（必須）' %></div>
    <% decomoji.errors.full_messages_for(:version).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.collection_radio_buttons :version_id, Version.ordered_by_gem_version, :id, :name %>
  </div>

  <div style="margin-block: 1em">
    <%= f.submit %>
  </div>
<% end %>
