<% if decomoji.errors.any? %>
  <div id="error_explanation">
    <h3>確認してください</h3>
    <ul>
    <% decomoji.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: decomoji do |f| %>
  <div style="margin-block: 1em">
    <div><%= f.label :name, '名前（必須）' %></div>
    <% decomoji.errors.full_messages_for(:name).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.text_field :name, required: 'required' %>
  </div>

  <div style="margin-block: 1em">
    <div><%= f.label :yomi, 'よみがな' %></div>
    <% decomoji.errors.full_messages_for(:yomi).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.text_field :yomi %>
  </div>

  <div style="margin-block: 1em">
    <div><%= f.label :image, 'デコモジ' %></div>
    <% decomoji.errors.full_messages_for(:image).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.file_field :image, accept: 'image/png' %>
  </div>

  <div style="margin-block: 1em">
    <div><%= f.label :color_id, '色' %></div>
    <% decomoji.errors.full_messages_for(:color).each do |message| %>
    <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.radio_button :color_id, '', id: 'color_nil' %>
    <label for="color_nil">指定無し</label>
    <% Color.all.each do |color| %>
      <%= f.radio_button :color_id, color.id, id: "color_#{color.id}" %>
      <label for="color_<%= color.id %>">
        <span style="display:inline-block;width:16px;height:16px;background-color:<%= color.hex %>"></span>
        <%= color.name %>
      </label>
    <% end %>
  </div>

  <div style="margin-block: 1em">
    <div><%= f.label :version_id, 'バージョン' %></div>
    <% decomoji.errors.full_messages_for(:version).each do |message| %>
      <div style="color: red"><%= message %></div>
    <% end %>
    <%= f.radio_button :version_id, '', id: 'version_nil' %>
    <label for="version_nil">指定無し</label>
    <% Version.ordered_by_gem_version.each do |version| %>
      <%= f.radio_button :version_id, version.id, id: "version_#{version.id}" %>
      <label for="version_<%= version.id %>"><%= version.name %></label>
    <% end %>
  </div>

  <div style="margin-block: 1em">
    <%= f.submit %>
  </div>
<% end %>
