<% if decomoji.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(decomoji.errors.count, "error") %> prohibited this decomoji from being saved:</h3>
    <ul>
    <% decomoji.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: decomoji do |f| %>
  <p>
    <%= f.label :name %><br>
    <% decomoji.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :yomi %><br>
    <% decomoji.errors.full_messages_for(:yomi).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= f.text_field :yomi %>
  </p>

  <p>
    <%= f.label :image %><br>
    <% decomoji.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= f.file_field :image, accept: 'image/png' %>
  </p>

  <p>
    <%= f.label :version_id, "Version" %><br>
    <% decomoji.errors.full_messages_for(:version).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= f.collection_radio_buttons :version_id, Version.all, :id, :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
