<% if decomoji.errors.any? %>
  <div id="error_explanation">
    <h3>確認してください</h3>
    <ul>
    <% decomoji.errors.full_messages.each do |message| %>
      <li class="text-red-600"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: decomoji do |f| %>
  <div class="my-4">
    <div><%= f.label :name, '名前（必須）' %></div>
    <% decomoji.errors.full_messages_for(:name).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
    <%= f.text_field :name, required: 'required' %>
  </div>

  <div class="my-4">
    <div><%= f.label :yomi, 'よみがな（必須）' %></div>
    <% decomoji.errors.full_messages_for(:yomi).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
    <%= f.text_field :yomi, required: 'required' %>
  </div>

  <div class="my-4">
    <div><%= f.label :image, 'デコモジ' %></div>
    <% if decomoji.image.attached? %>
      <div><%= image_tag decomoji.image, width: 64, height: 64, alt: '' %></div>
    <% end %>
    <% decomoji.errors.full_messages_for(:image).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
    <%= f.file_field :image, accept: 'image/png' %>
  </div>

  <div class="my-4">
    <div><%= f.label :typesetting, '組版' %></div>
    <% decomoji.errors.full_messages_for(:typesetting).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
    <%= f.text_field :typesetting %>
  </div>

  <fieldset class="my-4">
    <legend>フォント</legend>
    <% decomoji.errors.full_messages_for(:font).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(8em,1fr))]">
      <label><%= f.radio_button :font, 'sans-serif' %> sans-serif</label>
      <label><%= f.radio_button :font, 'serif' %> serif</label>
      <label><%= f.radio_button :font, 'latin' %> latin</label>
    </div>
  </fieldset>

  <fieldset class="my-4">
    <legend>色</legend>
    <% decomoji.errors.full_messages_for(:color).each do |message| %>
    <div class="text-red-600"><%= message %></div>
    <% end %>
    <label><%= f.radio_button :color_id, '' %> 指定なし（自動ローテーション）</label>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(8em,1fr))]">
      <% Color.all.each do |color| %>
        <label>
          <%= f.radio_button :color_id, color.id %>
          <span class="inline-block w-4 h-4" style="background-color:<%= color.hex %>"></span>
          <%= color.name %>
        </label>
      <% end %>
    </div>
  </fieldset>

  <fieldset class="my-4">
    <legend>バージョン</legend>
    <% decomoji.errors.full_messages_for(:version).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
    <label><%= f.radio_button :version_id, '' %> 指定なし</label>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(8em,1fr))]">
      <% Version.ordered_by_gem_version.each do |version| %>
        <label>
          <%= f.radio_button :version_id, version.id %>
          <%= version.name %>
        </label>
      <% end %>
    </div>
  </fieldset>

  <p><%= f.submit %></p>
<% end %>
