<h2>Decomojis</h2>

<p><%= link_to 'Add Decomoji', new_decomoji_path %></p>

<ul>
  <% @decomojis.each do |decomoji| %>
    <li>
      <a href="/decomojis/<%= decomoji.id %>">
        <% if decomoji.image.attached? %>
          <%= image_tag decomoji.image, width: 24, height: 24 %>
        <% end %>
        <%= decomoji.name %>
        (<%= decomoji.version.name %>)
      </a>
    </li>
  <% end %>
</ul>
