<h2>デコモジ</h2>

<p><%= link_to 'デコモジを追加する', new_decomoji_path %></p>

<form action="<%= root_path %>">
  <p>
    <label for="search">検索</label>
    <input type="text" name="search" value="<%= params[:search] %>" id="search">
    <input type="submit" value="検索">
  </p>
</form>

<% if @decomojis.empty? %>
  <p>条件に合うデコモジがありません</p>
<% else %>
  <nav aria-label="Pagination">
    <p>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </p>
    <p>
      <%= pagy_info_with_comma(@pagy) %>
    </p>
  </nav>

  <table>
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">デコモジ</th>
      <th scope="col">よみがな</th>
      <th scope="col">訓令式</th>
      <th scope="col">ヘボン式</th>
      <th scope="col">バージョン</th>
    </tr>
    </thead>
    <tbody>
    <% @decomojis.each do |decomoji| %>
    <tr>
      <td><span role="img" aria-label="<%= decomoji.color.name %>" style="display:inline-block;width:16px;height:16px;background-color:<%= decomoji.color.hex %>"></span></td>
      <th scope="row" style="text-align:left;">
        <%= image_tag decomoji.image, width: 24, height: 24, loading: 'lazy' %>
        <%= link_to decomoji.name, decomoji %>
      </th>
      <td><%= decomoji.yomi %></td>
      <td><%= decomoji.yomi_kunrei %></td>
      <td><%= decomoji.yomi_hepburn %></td>
      <td><%= decomoji.version.name %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
