<h2>デコモジ</h2>

<p><%= link_to 'デコモジを追加する', new_decomoji_path %></p>

<form action="<%= root_path %>">
  <p>
    <label for="search">検索</label>
    <input type="text" name="search" value="<%= params[:search] %>" id="search">
    <input type="submit" value="検索">
  </p>
</form>

<% if @decomojis.empty? %>
  <p>条件に合うデコモジがありません</p>
<% else %>
  <nav aria-label="Pagination">
    <p>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </p>
    <p>
      <%= pagy_info_with_comma(@pagy) %>
    </p>
  </nav>

  <table>
    <thead>
    <tr>
      <th>デコモジ</th>
      <th>よみがな</th>
      <th>バージョン</th>
    </tr>
    </thead>
    <tbody>
    <% @decomojis.each do |decomoji| %>
    <tr>
      <td>
        <%= link_to decomoji do %>
        <%= image_tag decomoji.image, width: 24, height: 24, loading: 'lazy' %>
        <%= decomoji.name %>
        <% end %>
      </td>
      <td><%= decomoji.yomi %></td>
      <td><%= decomoji.version.name %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
