<h2>デコモジ</h2>

<p><%= link_to 'デコモジを追加する', new_decomoji_path %></p>

<form action="<%= root_path %>">
  <p>
    <label for="search">検索</label>
    <input type="text" name="search" value="<%= params[:search] %>" id="search">
    <input type="submit" value="検索">
  </p>
</form>

<% if @decomojis.empty? %>
  <p>条件に合うデコモジがありません</p>
<% else %>
  <p>
    全件ダウンロード：
    <%= link_to 'JSON', decomojis_path(format: :json, search: params[:search]) %>
    <%= link_to 'CSV', decomojis_path(format: :csv, search: params[:search]) %>
    <%= link_to 'TSV', decomojis_path(format: :tsv, search: params[:search]) %>
  </p>

  <nav aria-label="Pagination">
    <p>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </p>
    <p>
      <%= pagy_info_with_comma(@pagy) %>
    </p>
  </nav>

  <ul class="decomojis">
    <% @decomojis.each do |decomoji| %>
    <li class="decomoji" style="border-color:<%= decomoji.color.hex %>">
      <%= link_to decomoji do %>
        <%= image_tag decomoji.image, alt: decomoji.name, width: 64, height: 64, loading: 'lazy' %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <p>
    <%= pagy_info_with_comma(@pagy) %>
  </p>
  <p>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </p>
<% end %>
