<h2><%= @decomoji.name %> (<%= @decomoji.version.name %>)</h2>

<% if @decomoji.image.attached? %>
  <p><%= image_tag @decomoji.image, width: 64, height: 64, alt: '' %></p>
<% end %>

<p>よみがな：<%= @decomoji.yomi %></p>

<p>フォント：<%= @decomoji.font %></p>

<p>組版：<%= @decomoji.typesetting.presence || '（なし）' %></p>

<p>色：<span style="display:inline-block;width:16px;height:16px;background-color:<%= @decomoji.color.hex %>"></span> <%= @decomoji.color.name %></p>

<h3>アクション</h3>
<ul>
  <li><%= link_to '編集', edit_decomoji_path(@decomoji) %></li>
  <li>
    <%= link_to '削除', decomoji_path(@decomoji), data: {
      turbo_method: :delete,
      turbo_confirm: "デコモジ「#{@decomoji.name}」を削除しますか？"
    } %>
  </li>
</ul>

<hr>

<h3>エイリアス</h3>
<% if @decomoji.aliases.empty? %>
  <p>エイリアスはありません。</p>
<% else %>
  <ul>
    <% @decomoji.aliases.each do |decomoji_alias| %>
      <li>
        <%= decomoji_alias.name %>
        -
        <%= link_to '削除', decomoji_alias_path(@decomoji, decomoji_alias), data: {
          turbo_method: :delete,
        } %>
      </li>
    <% end %>
  </ul>
<% end %>

<h4>エイリアスを追加する</h4>
<%= render 'aliases/form', decomoji: @decomoji, decomoji_alias: @decomoji.aliases.build %>

<hr>

<h3>タグ</h3>
<% if @decomoji.tags.empty? %>
  <p>タグはありません。</p>
<% else %>
  <ul>
    <% @decomoji.tags.each do |tag| %>
      <li>
        <%= link_to tag.name, root_path(search: "tag:#{tag.name}") %>
        -
        <%= link_to '削除', remove_tag_decomoji_path(@decomoji, tag_id: tag.id), data: {
          turbo_method: :delete,
        } %>
      </li>
    <% end %>
  </ul>
<% end %>

<h4>タグを追加する</h4>
<%= form_with url: add_tag_decomoji_path(@decomoji), method: :post do |form| %>
  <p>
    <%= form.label :tag_name, 'タグ' %>
    <%= text_field_tag :tag_name, nil, required: true, list: 'tag-list' %>
    <%= form.submit '追加する' %>
  </p>

  <datalist id="tag-list">
    <% @all_tags.each do |tag| %>
      <option value="<%= tag.name %>">
    <% end %>
  </datalist>
<% end %>
