<h2><%= @decomoji.name %> (<%= @decomoji.version.name %>)</h2>

<p><%= @decomoji.yomi %></p>

<% if @decomoji.image.attached? %>
  <p><%= image_tag @decomoji.image, width: 64, height: 64 %></p>
<% end %>

<ul>
  <li><%= link_to 'Edit', edit_decomoji_path(@decomoji) %></li>
  <li>
    <%= link_to 'Delete', decomoji_path(@decomoji), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </li>
</ul>

<hr>

<h3>Aliases</h3>
<ul>
  <% @decomoji.aliases.each do |decomoji_alias| %>
    <li>
      <%= decomoji_alias.name %>
      -
      <%= link_to 'Delete', decomoji_alias_path(@decomoji, decomoji_alias), data: {
        turbo_method: :delete,
      } %>
    </li>
  <% end %>
</ul>
<%= render 'aliases/form', decomoji: @decomoji, decomoji_alias: @decomoji.aliases.build %>

<hr>

<h3>Tags</h3>
<ul>
  <% @decomoji.tags.each do |tag| %>
    <li>
      <%= tag.name %>
      -
      <%= link_to 'Delete', remove_tag_decomoji_path(@decomoji, tag_id: tag.id), data: {
        turbo_method: :delete,
      } %>
    </li>
  <% end %>
</ul>

<%= form_with url: add_tag_decomoji_path(@decomoji), method: :post do |form| %>
  <p>
    <%= form.label :tag_name %><br>
    <%= text_field_tag :tag_name, nil, list: 'tag-list' %>
  </p>

  <datalist id="tag-list">
    <% @all_tags.each do |tag| %>
      <option value="<%= tag.name %>">
    <% end %>
  </datalist>

  <p>
    <%= form.submit 'Add Tag' %>
  </p>
<% end %>
