<h2 class="mt-12 mb-4">タグを編集する</h2>

<%= turbo_frame_tag @tag do %>
  <%= form_with model: @tag, html: { style: 'display: inline' } do |form| %>
    <%= form.text_field :name, required: 'required', autofocus: @turbo_frame_request %>
    <%= form.submit '更新' %>
  <% end %>

  <%= link_to 'キャンセル', tags_path %>
<% end %>
