<h2>Tags</h2>

<%= form_with model: @new_tag, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <% @new_tag.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit 'Add Tag' %>
  </p>
<% end %>
  
<ul>
  <% @tags.each do |tag| %>
    <li>
      <turbo-frame id="tag_<%= tag.id %>">
        <%= link_to tag.name, root_path(search: "tag:#{tag.name}"), target: '_top' %>
        <%= link_to 'Edit', edit_tag_path(tag) %>
        <%= link_to 'Delete', tag, data: {
          turbo_frame: '_top',
          turbo_method: :delete,
          turbo_confirm: 'Are you sure?',
        } %>
      </turbo-frame>
    </li>
  <% end %>
</ul>
