<h2>バージョンを編集する</h2>

<%= turbo_frame_tag @version do %>
  <%= form_with model: @version, html: { style: 'display: inline' } do |form| %>
    <%= form.text_field :name %>
    <%= form.submit '更新' %>
  <% end %>

  <%= link_to 'キャンセル', versions_path %>
<% end %>
