<h2 class="mt-12 mb-4">バージョン</h2>

<%= form_with model: @new_version, local: true do |form| %>
  <div class="my-4">
    <div><%= form.label :name %></div>
    <% @new_version.errors.full_messages_for(:name).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
    <%= form.text_field :name, required: 'required' %>
  </div>

  <div class="my-4">
    <%= form.submit '追加する' %>
  </div>
<% end %>
  
<ul>
  <% @versions.each do |version| %>
    <li>
      <turbo-frame id="version_<%= version.id %>">
        <%= link_to version.name, root_path(search: "version:#{version.name}"), target: '_top' %>
        -
        <%= link_to '編集', edit_version_path(version) %>
        <%= link_to '削除', version, class: 'text-red-600', data: {
          turbo_frame: '_top',
          turbo_method: :delete,
          turbo_confirm: "バージョン「#{version.name}」を本当に削除しますか？",
        } %>
      </turbo-frame>
    </li>
  <% end %>
</ul>
