<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) + " ‐ デコモジマネージャー" : "デコモジマネージャー" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-2">
    <header class="mb-16 flex flex-wrap justify-between items-baseline gap-x-8 gap-y-4">
      <h1><%= link_to "デコモジマネージャー", root_path %></h1>
      <nav aria-label="サイトナビゲーション">
        <ul class="flex items-baseline gap-4">
          <li><%= link_to "デコモジ", root_path %></li>
          <li><%= link_to "タグ", tags_path %></li>
          <li><%= link_to "バージョン", versions_path %></li>
          <li><%= link_to "色", colors_path %></li>
          <li><%= link_to "チェック", checks_path %></li>
        </ul>
      </nav>
    </header>
    <%= content_for?(:main) ? yield(:main) : yield %>
  </body>
</html>
