<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>デコモジマネージャー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to "デコモジマネージャー", root_path %></h1>
      <ul>
        <li><%= link_to "デコモジ", root_path %></li>
        <li><%= link_to "タグ", tags_path %></li>
        <li><%= link_to "バージョン", versions_path %></li>
        <li><%= link_to "色", colors_path %></li>
      </ul>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
